{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n easytree_tags %}

{% block extrahead %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
<script type="text/javascript">

    var move_url = '{{ move_url }}'

    function get_object_pk(item) {
        var html_id = item.attr("id")
        var re = new RegExp('object_id_(\\d+)');
        var m = re.exec(html_id);
        console.log([m, html_id])
        return parseInt(m[1])
    }

    function find_depth(item) {
        var lvl = 0
        for (var i=10;i>=1;i--) {
            lvl = i
            if (item.hasClass('level_' + i)) break;
        }
        return lvl
    }
    
    function alter_depth(item, diffdepth) {
        var fromdepth = find_depth(item)
        var todepth = fromdepth + diffdepth
        item.removeClass('level_' + fromdepth)
        item.addClass('level_' + todepth)
        var depthstr = ''
        for (var i=1; i < todepth; i++) depthstr += '&gt;&gt;&gt; '
        $('.display_indent', item).html(depthstr)
    }

    function get_child_nodes(item) {
        var nodes = []
        var belowdepth = find_depth($(item))
        var curitem = item.next()
        while(curitem.get(0) && find_depth(curitem)>belowdepth) {
            nodes.push(curitem)
            curitem=curitem.next()
        }
        return nodes
    }

    function make_proxy(item) {
        
        var proxytbl = $('<table cellspacing="0"></table>')
        proxytbl.width(item.closest('table').width())
        
        var firstrow = item.clone()
        var old_tds = $('td, th', item)
        var new_tds = $('td, th', firstrow)
        for (var i=0;i<old_tds.length;i++) {
            $(new_tds.get(i)).width($(old_tds.get(i)).width())
        }
        
        firstrow.appendTo(proxytbl)
        
        var nodes = get_child_nodes(item)
        $(nodes).each(function(){
            $(this).droppable('disable') // disable drop on dragged nodes
            $(this).clone().removeAttr("id").appendTo(proxytbl)
        })

        return proxytbl
    }

    $(document).ready(function() {
        
        $('tr.result_item').each(function() {
            
            function helper() {
                return make_proxy($(this))
            }
            
            $(this).draggable({'helper': helper, opacity: 0.6})
            
            var drp = $(this) // store this node for use in deactivate

            var deactivate = function(event, ui) {
                var nodes = get_child_nodes(drp) // enable drop on dragged nodes
                $(nodes).each(function(){
                    $(this).droppable('enable')
                })
            }
            
            var drop = function(event, ui) {
                
                var dropped_on = $(this)
                
                $('#position-menu')
                    .css("top", event.pageY-15)
                    .css("left", event.pageX-60)
                    
                    .bind('click', function(e){
                        $(this).unbind('click').hide()
                        $.post(move_url, {
                            node_to_move: get_object_pk(ui.draggable),
                            relative_to_node: get_object_pk(dropped_on),
                            relative_position: $(e.target).closest('.position').attr("id")
                        }, function (data, textStatus) {
                        },
                    "json")
                    
                        // alert($(e.target).closest('.position').attr("id") + ' ' + get_object_pk(ui.draggable) + ' ' + get_object_pk(dropped_on) )
                    })
                    
                    .show()

            }
            
            $(this).droppable({hoverClass: 'marked', tolerance: 'pointer', deactivate: deactivate, drop: drop })
            
            $('#position-menu').bind('mouseleave', function() { $(this).unbind('click'); $(this).hide() })

        })
    })
</script>
<style type="text/css">
    .marked { background: #ffcccc; }
    #position-menu { position: absolute; display: none; z-index: 2; }
    #position-menu { background: #e8ffe8; padding: 3px; width: 10em; }
    #position-menu li { list-style-type: none; display: block; margin: 0; padding: 3px; }
    #position-menu li.heading { font-weight: bold; }
    #position-menu li.position:hover { background: #ffffff; margin: 0; }

</style>

</head>
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; <a href="../">{{ app_label|capfirst }}</a> &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}</div>{% endblock %}{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
<ul id="position-menu">
    <li class="heading">Relative position:</li>
    <li class="position" id="first-child">{% trans "First child" %}</li>
    <li class="position" id="last-child">{% trans "Last child" %}</li>
    <li class="position" id="first-sibling">{% trans "First sibling" %}</li>
    <li class="position" id="last-sibling">{% trans "Last sibling" %}</li>
    <li class="position" id="left">{% trans "Previous sibling" %}</li>
    <li class="position" id="right">{% trans "Next sibling" %}</li>
</ul>
<div id="content-main">
{% block object-tools %}
{% if has_add_permission %}
<ul class="object-tools"><li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li></ul>
{% endif %}
{% endblock %}
{% if cl.formset.errors %}
    <p class="errornote">
    {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in cl.formset.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}
<div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
{% block search %}{% search_form cl %}{% endblock %}
{% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

{% block filters %}
{% if cl.has_filters %}
<div id="changelist-filter">
<h2>{% trans 'Filter' %}</h2>
{% for spec in cl.filter_specs %}
   {% admin_list_filter cl spec %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
{% if cl.formset %}
<form action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {{ cl.formset.management_form }}
{% endif %}
{% block result_list %}{% result_list cl %}{% endblock %}
{% block pagination %}{% pagination cl %}{% endblock %}
{% if cl.formset %}</form>{% endif %}
</div>
</div>
{% endblock %}
